/* Vertical Tabs
	----------------------------------*/
#contenedorVerDetalle .ui-tabs-vertical {
	width: 55em;
}

#contenedorVerDetalle .ui-tabs-vertical .ui-tabs-nav {
	padding: .2em .1em .2em .2em;
	float: left;
	width: 12em;
}

#contenedorVerDetalle .ui-tabs-vertical .ui-tabs-nav li {
	clear: left;
	width: 100%;
	border-bottom-width: 1px !important;
	border-right-width: 0 !important;
	margin: 0 -1px .2em 0;
}

#contenedorVerDetalle .ui-tabs-vertical .ui-tabs-nav li a {
	display: block;
}

#contenedorVerDetalle .ui-tabs-vertical .ui-tabs-nav li.ui-tabs-selected
	{
	padding-bottom: 0;
	padding-right: .1em;
	border-right-width: 1px;
	border-right-width: 1px;
}

#contenedorVerDetalle .ui-tabs-vertical .ui-tabs-panel {
	padding: 1em;
	float: left;
	width: auto;
}

#contenedorVerDetalle {
	width: 100%;
	height: 100%;
}

#tabsVerDetalle {
	min-width: 99%;
	min-height: 99%
}
