@font-face {
    font-family: Whitney;
    src: url(whitneyhtfbook.otf);
}
@font-face {
    font-family: Whitneybold;
    src: url(WhitneyHTF-Bold.otf);
}

* { margin: 0; padding: 0; }
html, body { 
	height: 100%;
	font-family: Whitney, arial, verdana;
}
section { 
	min-height: 100%;
	background: #f5f5f5 url(estado.png) center 200px no-repeat ;
	font-family: Whitney, arial, verdana;
	}
h3, h4{
	font-family: Whitney, arial, verdana;
    margin: 19px 0;
    font-size: 16px;
}

h3.title {
    text-align: center;
    font-size: 18px;
    color: #c60774;
}

b{
	font-family: Whitneybold, arial, verdana;
}
.white_content p,
.white_content ul {
	font-size: 14px;
    line-height: 1.9;
}
ul {
    list-style-type: square;
    padding: 0 0 0 30px;
    margin: 10px 0;
}

ul li {
    /*background-image: url(sqpurple.gif);*/
    background-repeat: no-repeat;
    background-position: 0px center; 
    padding-left: 0px; 
}
.responder{
	width: 100%;
	margin: 20px auto  0px auto;
	text-align: center;
}
.respoderheader{
	width: 100%;
	margin: 0px auto;
	text-align: center;
	border-bottom: 2px solid #ccc;
	padding-bottom: 5px;
	margin-bottom: 15px;
}
#main { 
	overflow: auto; 
	padding-bottom: 80px; 
	text-align: center; 
}
#main p { 
	width: 650px;
	margin: 200px auto 50px auto;
	text-align: center;
    line-height: 1.6;
}
.white_content p { 
	margin: 5px 0; 
}

.list_number {
    list-style: none;
}

.list_letters {
    list-style-type: lower-latin;
}

.note:after{
    content: "1";
    font-size: 10px;
    line-height: 0.8;
    vertical-align: super;
}

.note_bottom {
    font-size: 10px !important;
}

.note_bottom:before {
    content: "1 ";
    font-size: 10px;
    line-height: 0.8;
    vertical-align: super;
}

header{
	text-align: center;
	height: 70px;
	background: #000;
	border-bottom: 2px solid #c60774;
	padding: 15px 0 0 0;
}
/*Opera Fix*/ 
body:before { 
	content: ""; 
	height: 100%; 
	float: left; 
	width: 0; 
	margin-top: -32767px;
	}
footer{
	text-align: center;
	border-top: 2px solid #c60774;
	position: relative; 
	margin-top: -80px; /* altura en px del footer con valor negativo */ 
	height: 80px; /* Altura del Footer en px*/ 
	clear: both; 
	background: #000;
	color: #fff;
}
footer p{
	font-size: 14px;
	margin: 30px 0 0 0;
}
.botonacuerdos {
	font-size: 14px;
	background: #c60774;
	border-radius: 8px;
	padding: 20px;
	margin: 0 20px 10px 20px;
	display: inline-block;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	font-family: Whitneybold, arial, verdana;
}

.black_overlay{
			display: none;
			position: absolute;
			top: 0%;
			left: 0%;
			width: 100%;
			height: 100%;
			background-color: black;
			z-index:1001;
			-moz-opacity: 0.8;
			opacity:.60;
			filter: alpha(opacity=80);
		}
.white_content {
			display: none;
			position: absolute;
			top: 10%;
			left: 18%;
			width: 60%;
			height: 70%;
			padding: 18px;
			border: 16px solid #f5f5f5;
			border-radius: 10px;
			background-color: white;
			z-index:1002;
			overflow: auto;
		}