﻿
<link rel="stylesheet" href="../estilos/direcciones.css" type="text/css" />
<script src="../scripts/direcciones/prototype.js" type="text/javascript"></script>
<script src="../scripts/direcciones/scriptaculous.js"
	type="text/javascript"></script>
<script src="../scripts/direcciones/controls.js" type="text/javascript"></script>
<script src="../scripts/direcciones/effects.js" type="text/javascript"></script>
<script src="../scripts/direcciones/consultaDirecciones.js"
	type="text/javascript"></script>
<script src="../scripts/xhr.js" type="text/javascript"></script>

<script language="JavaScript" type="text/javascript">
   
  /**
   * Hace la consulta de los municipios correspondientes a un estado.
   */
  arMunicipios=[];			
  obMunicipios=Object();	//  - Para auto comp de municipios.
  obMunXArMun = [];
  			 
  arAsentamientos=[];
  obAsentamientos=Object();
  obAsenXArAsen=[];
  
  // Aqui se guardan las respuestas xml para reutilizarlas
  obMunConsultado = Object();  
  obAsenConsultado = Object();
  obVialConsultado = Object(); 
  
  obCP = Object();
  obTAsen = Object();
  
  arVialidades=[];
  obVialidades=Object();
  obVialXArVial=[];
  
  obTVialidad=Object();
  
  idAutoComp = "";
  peticion="";
  
  //los ultimos valores almacenados se usan para
  // discernir entre un cambio para disparar los eventos de actualizacion
  // de estados
  var ulAsen='-- ';
  var ulEdo='-- ';
  var ulMun='--';
  var ulDel='--';
  var ulVial='--';
  function consultaMunicipios(){
  	//Debemos limpiar todos los valores cuando se cambia la entidad federativa, ya no tienen
  	//sentido los demás datos capturados para otro estado.
	var selEdos = document.getElementById('{wgIdEstado}');
	
	if(ulEdo == selEdos.value){ return false;}
	
   	arAsentamientos.length=0;
   	arVialidades.length=0;
   	obMunXArMun.length=0;
   	obAsenXArAsen.length=0;
   	obVialXArVial.length=0;
	arMunicipios.length=0;
	  	
  	
  	var bloqueDel = document.getElementById('delegaciones');
  	var bloqueMun = document.getElementById('municipios');
  	var wgMun = document.getElementById('{wgMunicipio}');
	var selDels = document.getElementById('{wgIdDelegacion}');
	//var wgCiudad = document.getElementById('{wgCiudad}');
	  	
  	peticion = 'municipios';
  	ulEdo =selEdos.value; 
  	if(selEdos.value == '9'){
  		bloqueDel.style.display='inline';
  		bloqueMun.style.display='none';
  		borrarValores('estado');
		document.getElementById('{wgEstado}').value='DISTRITO FEDERAL';
		//document.getElementById('{wgCiudad}').value='CIUDAD DE MEXICO';
		
  	}else{
		borrarValores('estado');	
  		selDels.selectedIndex=0;
  		bloqueDel.style.display='none';
  		bloqueMun.style.display='inline';
  		if(selEdos.value){
			revisa(wgMun,'municipios','','ajax',selEdos.value,0,0);
  		}
  		var idTexto= selEdos.selectedIndex;
		document.getElementById('{wgEstado}').value=selEdos[idTexto].text;
  	}
  }
  
  function consultaAsentamientos(){
	var wgIdAsen = document.getElementById('{wgIdAsentamiento}');
  	var selEdos = document.getElementById('{wgIdEstado}');
  	var wgIdMun = document.getElementById('{wgIdMunicipio}');

  	if(selEdos.value == 9){
  		var selDels = document.getElementById('{wgIdDelegacion}');
  		wgIdMun.value = selDels.value;
  		var idTexto= selDels.selectedIndex;			

  		document.getElementById('{wgMunicipio}').value=selDels[idTexto].text;
  		
  	}

	if(selEdos.value == 9 && ulMun == wgIdMun.value){
		return false;	
	}else if(selEdos.value != 9 && ulMun == wgIdMun.value){
		return false;
	}else if(selEdos.value == 9 && ulMun != wgIdMun.value){
		ulMun = wgIdMun.value;
	}else if(selEdos.value != 9 && ulMun != wgIdMun.value){
		ulMun = wgIdMun.value;
	}
  	  	  	
   	arVialidades.length=0;
   	obAsenXArAsen.length=0;
   	obVialXArVial.length=0;
  	wgIdAsen.value='';
  	borrarValores('municipio');
  	
  	peticion = 'asentamientos';

  	var wgAsen = document.getElementById('{wgAsentamiento}');

  	if(wgIdMun.value){
		revisa(wgAsen,'asentamientos','','ajax',selEdos.value,wgIdMun.value,0);	
  	}
  }
  
  function consultaVialidades(){
  	
	var wgVial = document.getElementById('{wgVialidad}');
  	var wgAsen = document.getElementById('{wgAsentamiento}');
	
	if(ulAsen == wgAsen.value){
		return false;
	}else{
		ulAsen = wgAsen.value;
	}
	var wgIdAsen = document.getElementById('{wgIdAsentamiento}');
  	
  	arVialidades.length=0;
   	obVialXArVial.length=0;
	borrarValores('vialidad');
  	peticion = 'vialidades';
  	
  	var selEdos = document.getElementById('{wgIdEstado}');
  	if(selEdos.value == 9){
  		if(wgIdAsen.value){
  			revisa(wgVial,'vialidades','','ajax',selEdos.value,0,wgIdAsen.value);
  		}
  	}
  }

  /**
   * Esta función se llama desde el script control.js cuando se auto completa.
   */
  function postComplete(wgLlamadaId,idAutoComp){
  	
  	document.getElementById(wgLlamadaId).className="";
  	
  	if(wgLlamadaId == '{wgIdMunicipio}'){
  		var id_mun_autoc = obMunXArMun[idAutoComp]
  		var municipio = obMunicipios[id_mun_autoc];
  		var wgIdMun = document.getElementById('{wgIdMunicipio}');
  		wgIdMun.value=id_mun_autoc;
		//Borramos todo lo que este debajo.
		borrarValores('municipio');
  	}else if(wgLlamadaId == '{wgMunicipio}'){
		//dbg('En municipios');
  		var id_mun_autoc = obMunXArMun[idAutoComp]
  		var municipio = obMunicipios[id_mun_autoc];
  		var wgIdMun = document.getElementById('{wgIdMunicipio}');
  		wgIdMun.value=id_mun_autoc;
		//Borramos todo lo que este debajo.  		
		borrarValores('municipio');  		
  	}
  	else if(wgLlamadaId == '{wgAsentamiento}'){
  		//dbg('En asentamientos');

  		var id_asen_autoc = obAsenXArAsen[idAutoComp]
  		var asentamiento = obAsentamientos[id_asen_autoc];
  		var wgIdAsen = document.getElementById('{wgIdAsentamiento}');
  		wgIdAsen.value=id_asen_autoc;
  		var wgCP = document.getElementById('{wgCP}');
  		wgCP.value = obCP[id_asen_autoc];
  		var wgTAsen = document.getElementById('{wgTAsentamiento}');
  		wgTAsen.value = obTAsen[id_asen_autoc];
  		//dbg('idAutoCom: '+idAutoComp +' asentamiento '+asentamiento);
  		
		//Borramos todo lo que este debajo.  		
  		var wgVial = document.getElementById('{wgVialidad}');
  		wgVial.value = "";
  		var wgTVial = document.getElementById('{wgTVialidad}');
  		wgTVial.value = "";
		
  		//dbg(id_asen_autoc + ' ' +wgCP.value + ' '+ asentamiento)
  	}else if(wgLlamadaId == '{wgVialidad}'){
  		var wgTVial = document.getElementById('{wgTVialidad}');
  		wgTVial.value = obTVialidad[idAutoComp];
  	}
  }

/**
 * Se llama esta función cuando no hay coincidencias entre lo que se escribe y el catalogo
 */
function noMatch(wgLlamadaId){
	//Cambiamos el estilo del widget en caso de que no coincida ninguno.
	//dbg('No hace mach');
	document.getElementById(wgLlamadaId).className="direccionNoMatch";
	
	//document.getElementById(wgLlamadaId+'nm').style.backgroundColor="red";
	//Si no hay coincidencias borramos los datos que dependen del elemento no coincidente
	if(wgLlamadaId == '{wgMunicipio}'){
		borrarValores('municipio');
  	}
  	else if(wgLlamadaId == '{wgAsentamiento}'){
  		//dbg('En asentamientos');
  		borrarValores('asentamiento');
  	}else if(wgLlamadaId == '{wgVialidad}'){
  		borrarValores('vialidad');
  	}
} 
 
function valores(){
  	var selEdos = document.getElementById('{wgIdEstado}');
  	var wgMun = document.getElementById('{wgMunicipio}');
	var wgIdMun = document.getElementById('{wgIdMunicipio}');
  	var selDels = document.getElementById('{wgIdDelegacion}');
	var wgIdAsen = document.getElementById('{wgIdAsentamiento}');
	var wgAsen = document.getElementById('{wgAsentamiento}');	
	var wgCP = document.getElementById('{wgCP}');
	var wgTAsen = document.getElementById('{wgTAsentamiento}');
  	var wgVial = document.getElementById('{wgVialidad}');	
  	var wgTVial = document.getElementById('{wgTVialidad}');
  	 	
  	var camps = 'idEdo: ' + selEdos.value +'<br>';
  		camps += 'Mun: '+wgMun.value +'<br>';
  		camps += 'idMun: '+wgIdMun.value +'<br>';
  		camps += 'del: '+selDels.value +'<br>';
  		camps += 'idAsn: '+wgIdAsen.value +'<br>';
  		camps += 'Asen: '+wgAsen.value +'<br>';
  		camps += 'TAsen: '+wgTAsen.value +'<br>';  
  		camps += 'CP: '+wgCP.value +'<br>';
  		camps += 'Vial: '+wgVial.value +'<br>';
  		camps += 'TVial: '+wgTVial.value +'<br>';
  	document.getElementById('debug').innerHTML=camps;	
}  

function borrarValores(elemento){
  	var selEdos = document.getElementById('{wgIdEstado}');
	//var wgCiudad = document.getElementById('{wgCiudad}');
  	var wgMun = document.getElementById('{wgMunicipio}');
	var wgIdMun = document.getElementById('{wgIdMunicipio}');
  	var selDels = document.getElementById('{wgIdDelegacion}');
	var wgIdAsen = document.getElementById('{wgIdAsentamiento}');
	var wgAsen = document.getElementById('{wgAsentamiento}');	
	var wgCP = document.getElementById('{wgCP}');
	var wgTAsen = document.getElementById('{wgTAsentamiento}');
  	var wgVial = document.getElementById('{wgVialidad}');	
  	var wgTVial = document.getElementById('{wgTVialidad}');
	
	if(elemento == 'estado'){
		wgMun.value='';
		//wgCiudad.value='';
		wgIdMun.value=0;
		selDels.selectedIndex=0;
		wgIdAsen.value = 0;
		wgAsen.value = '';	
		wgCP.value = '';
		wgTAsen.value = '';
  		wgVial.value = '';	
  		wgTVial.value = '';
	}else if(elemento == 'municipio'){
		wgIdAsen.value = '0';
		wgAsen.value = '';	
		wgCP.value = '';
		wgTAsen.value = '';
  		wgVial.value = '';	
  		wgTVial.value = '';
	}else if(elemento == 'delegacion'){
		wgMun.value='';
		wgIdAsen.value = 0;
		wgAsen.value = '';	
		wgCP.value = '';
		wgTAsen.value = '';
  		wgVial.value = '';	
  		wgTVial.value = '';
	}else if(elemento == 'asentamiento'){
		wgCP.value = '';
		wgTAsen.value = '';
  		wgVial.value = '';	
  		wgTVial.value = '';
	}else if(elemento == 'vialidad'){
		wgTVial.value = '';
	}
}  
  </script>
<!-- Bloque de select de estados -->
<label for="{wgIdEstado}">Entidad Federativa </label>
<br />
<select name="{contenedor}[{objeto}][{wgIdEstado}]" id="{wgIdEstado}"
	onchange="consultaMunicipios();" tabindex="1">
	<option value="">--Elegir Entidad Federativa</option>
	<option value="1">AGUASCALIENTES</option>
	<option value="2">BAJA CALIFORNIA</option>
	<option value="3">BAJA CALIFORNIA SUR</option>
	<option value="4">CAMPECHE</option>
	<option value="5">COAHUILA</option>
	<option value="6">COLIMA</option>
	<option value="7">CHIAPAS</option>
	<option value="8">CHIHUAHUA</option>
	<option value="9">DISTRITO FEDERAL</option>
	<option value="10">DURANGO</option>
	<option value="11">GUANAJUATO</option>
	<option value="12">GUERRERO</option>
	<option value="13">HIDALGO</option>
	<option value="14">JALISCO</option>
	<option value="15">ESTADO DE MEXICO</option>
	<option value="16">MICHOACAN</option>
	<option value="17">MORELOS</option>
	<option value="18">NAYARIT</option>
	<option value="19">NUEVO LEON</option>
	<option value="20">OAXACA</option>
	<option value="21">PUEBLA</option>
	<option value="22">QUERETARO</option>
	<option value="23">QUINTANA ROO</option>
	<option value="24">SAN LUIS POTOSI</option>
	<option value="25">SINALOA</option>
	<option value="26">SONORA</option>
	<option value="27">TABASCO</option>
	<option value="28">TAMAULIPAS</option>
	<option value="29">TLAXCALA</option>
	<option value="30">VERACRUZ</option>
	<option value="31">YUCATAN</option>
	<option value="32">ZACATECAS</option>
</select>
<script>marca_select('{wgIdEstado}','{valwgIdEstado}');</script>
<input type="hidden" name="{contenedor}[{objeto}][{wgEstado}]"
	id="{wgEstado}" value="{valwgEstado}" />
<!-- Termina el bloque de select de estados -->

<!-- Ciudad 
    <br />
	<label for="{wgCiudad}">Ciudad</label>
	<input type="text" name="{contenedor}[{objeto}][{wgCiudad}]" id="{wgCiudad}" value="{valwgCiudad}" size="20"  filtro="alfabetico"  tabindex="1"/>
	termina el bloque Ciudad -->


<!-- Bloque Delegaciones, se usa cuando el id_estado == 9, La Ciudad de México -->
<span id="delegaciones" style="display: none"> <br /> <label
	for="{wgIdDelegacion}">Delegación: </label> <select
	name="{contenedor}[{objeto}][{wgIdDelegacion}]" id="{wgIdDelegacion}"
	onchange="consultaAsentamientos();" tabindex="1">
		<option value="">--Elegir Delegación</option>
		<option value="73">ALVARO OBREGON</option>
		<option value="187">AZCAPOTZALCO</option>
		<option value="209">BENITO JUAREZ</option>
		<option value="449">COYOACAN</option>
		<option value="458">CUAJIMALPA DE MORELOS</option>
		<option value="464">CUAUHTEMOC</option>
		<option value="602">GUSTAVO A. MADERO</option>
		<option value="728">IZTACALCO</option>
		<option value="729">IZTAPALAPA</option>
		<option value="828">MAGDALENA CONTRERAS</option>
		<option value="907">MIGUEL HIDALGO</option>
		<option value="908">MILPA ALTA</option>
		<option value="2006">TLAHUAC</option>
		<option value="2019">TLALPAN</option>
		<option value="2129">VENUSTIANO CARRANZA</option>
		<option value="2192">XOCHIMILCO</option>
</select> <script>marca_select('{wgIdDelegacion}','{valwgIdDelegacion}');</script>
</span>
<!-- Termina bloque Delegaciones -->



<!-- Bloque municipios, se usa cuando el id_estado es diferente al DF -->
<span id="municipios"> <br /> <label for="municipio">Municipio</label>
	<input type="text" name="{contenedor}[{objeto}][{wgMunicipio}]"
	id="{wgMunicipio}" value="{valwgMunicipio}" autocomplete="off"
	onblur="consultaAsentamientos();" class="direccion" size="50"
	filtro="alfanumerico" tabindex="1" /> <span id="{wgMunicipio}nm"
	class="noMatchMensaje"></span>
	<div id="persiana{wgMunicipio}"
		style="display: none; border: 1px solid black; background-color: white;"
		class="persiana"></div>
</span>
<script type="text/javascript" language="javascript" charset="ISO8859-1">
  	new Autocompleter.Local('{wgMunicipio}',
  							'persiana{wgMunicipio}',
  							arMunicipios, 
  							{ fullSearch: true, partialSearch: true, wdLlamadaId: '{wgMunicipio}' }
  							);
	</script>
<!-- </span> -->
<!-- Termina el bloque municipios -->

<br />

<!-- id_municipios se usa por id_del y por municipio para transportar su valor de forma unificada -->
<input type="hidden" name="{contenedor}[{objeto}][{wgIdMunicipio}]"
	id="{wgIdMunicipio}" value="{valwgIdMunicipio}" />
<!-- Bloque asentamientos -->
<label for="{wgAsentamiento}">Colonia</label>
<input type="text" name="{contenedor}[{objeto}][{wgAsentamiento}]"
	id="{wgAsentamiento}" value="{valwgAsentamiento}" autocomplete="off"
	onblur="consultaVialidades();" size="50" class="direccion"
	filtro="alfanumerico" tabindex="1" />
<div id="persiana{wgAsentamiento}"
	style="display: none; border: 1px solid black; background-color: white;"
	class="persiana"></div>
<span id="{wgAsentamiento}nm" class="noMatchMensaje"></span>
<script type="text/javascript" language="javascript" charset="ISO8859-1">
  	new Autocompleter.Local('{wgAsentamiento}',
  							'persiana{wgAsentamiento}',
  							arAsentamientos, 
  							{ fullSearch: true, partialSearch: true, wdLlamadaId: '{wgAsentamiento}' }
  							);
	</script>
<!-- Termina el bloque de asentamientos -->

<!-- id_asentamientos se usa para transportar el id correspondiente al asentamiento -->
<input type="hidden" name="{contenedor}[{objeto}][{wgIdAsentamiento}]"
	id="{wgIdAsentamiento}" value="{valwgIdAsentamiento}" />

<!-- Tipo de asentamiento que corresponde al wg asentamientos -->
<input type="hidden" name="{contenedor}[{objeto}][{wgTAsentamiento}]"
	id="{wgTAsentamiento}" value="{valwgTAsentamiento}" size="20"
	filtro="alfanumerico" />
<!-- Bloque código postal -->
<br />
<label for="{wgCP}">C.P.</label>
<input type="text" name="{contenedor}[{objeto}][{wgCP}]" id="{wgCP}"
	value="{valwgCP}" autocomplete="off" maxlength="5" class="direccion"
	filtro="numerico" tabindex="1" style="width: 50px !important;" />
<!-- Termina el bloque de código postal -->


<!-- Bloque Vialidad -->
<br />
<label for="{wgVialidad}">Calle:</label>
<input type="text" name="{contenedor}[{objeto}][{wgVialidad}]"
	id="{wgVialidad}" value="{valwgVialidad}" autocomplete="off"
	class="direccion" size="50" filtro="alfanumerico" tabindex="1" />
&nbsp;
<span id="{wgVialidad}nm" class="noMatchMensaje"></span>
<div id="persiana{wgVialidad}"
	style="display: none; border: 1px solid black; background-color: white;"
	class="persiana"></div>
<script type="text/javascript" language="javascript" charset="ISO8859-1">
  	new Autocompleter.Local('{wgVialidad}',
  							'persiana{wgVialidad}',
  							arVialidades,
  							{ fullSearch: true, partialSearch: true, wdLlamadaId: '{wgVialidad}' }
  							);
	</script>
<!-- Termina el bloque de vialidad -->

<!-- Tipo de vialidad que corresponde al wg vialidad -->
<input type="input" name="{contenedor}[{objeto}][{wgTVialidad}]"
	id="{wgTVialidad}" value="{valwgTVialidad}" size="20"
	filtro="alfanumerico" readonly="true"
	style="width: 80px !important; border: none;" />
<br />
<!-- Numero Exterior -->
<label for="{wgNumExt}">N&ordm; Ext.</label>
<input type="text" name="{contenedor}[{objeto}][{wgNumExt}]"
	id="{wgNumExt}" value="{valwgNumExt}" size="20" filtro="alfanumerico"
	tabindex="1" maxlength="30" />
<!-- termina el bloque numero exterior -->


<!-- Numero interior -->
<br />
<label for="{wgNumInt}">N&ordm; Int.</label>
<input type="text" name="{contenedor}[{objeto}][{wgNumInt}]"
	id="{wgNumInt}" value="{valwgNumInt}" size="20" filtro="alfanumerico"
	tabindex="1" maxlength="30" />
<!-- termina el bloque Numero interior -->
<!-- Referencia -->
<!--<br />
	<label for="{wgReferencia}">Referencia (Empresa / Entre Calles)</label>
	<textarea rows="5" name="{contenedor}[{objeto}][{wgReferencia}]" id="{wgReferencia}"   tabindex="1"/>{valwgReferencia}</textarea>
 -->
<!-- termina el bloque Referencia -->

<!-- div utilizado para debug de los procesos js -->
<div id="debug"></div>

<script> 
//Inicializador de estado
inicializaComDir();
function inicializaComDir(){
  	var selEdos = document.getElementById('{wgIdEstado}');
  	var wgMun = document.getElementById('{wgMunicipio}');
	var wgIdMun = document.getElementById('{wgIdMunicipio}');
  	var selDels = document.getElementById('{wgIdDelegacion}');
	var wgIdAsen = document.getElementById('{wgIdAsentamiento}');
	var wgAsen = document.getElementById('{wgAsentamiento}');	
	var wgCP = document.getElementById('{wgCP}');
	var wgTAsen = document.getElementById('{wgTAsentamiento}');
  	var wgVial = document.getElementById('{wgVialidad}');	
  	var wgTVial = document.getElementById('{wgTVialidad}');

  	var bloqueDel = document.getElementById('delegaciones');
  	var bloqueMun = document.getElementById('municipios');

  	if(selEdos.value == '9'){
  		bloqueDel.style.display='inline';
  		bloqueMun.style.display='none';
  		wgIdMun.value = selDels.value;
  	}else{
		selDels.selectedIndex=0;
  		bloqueDel.style.display='none';
  		bloqueMun.style.display='inline';
	}
	
	if(selEdos.value != 9){
  	  	
		peticion = 'municipios';	
		revisa(wgMun,'municipios','','ajax',selEdos.value,0,0);
		
	}


  	if(wgIdMun.value){
  	  	peticion = 'asentamientos';	  	
		revisa(wgAsen,'asentamientos','','ajax',selEdos.value,wgIdMun.value,0);	
  	}

  	/*if(selEdos.value == 9){
  		peticion = 'vialidades';	  	
  		if(wgIdAsen.value){
  			revisa(wgVial,'vialidades','','ajax',selEdos.value,0,wgIdAsen.value);
  		}
  	}*/
	
	
}

</script>
<div id="debug"></div>