#clock {
	position: relative;
	width: 128px;
	height: 128px;
	background: url(../imgs/clock/clockface.png);
	list-style: none;
	padding: 0;
}

#sec,#min,#hour {
	position: absolute;
	width: 6px;
	height: 128px;
	top: 0px;
	left: 62px;
}

#sec {
	background: url(../imgs/clock/sechand.png);
	z-index: 3;
}

#min {
	background: url(../imgs/clock/minhand.png);
	z-index: 2;
}

#hour {
	background: url(../imgs/clock/hourhand.png);
	z-index: 1;
}