body {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	background: url("/imgs/dashboard/bg.jpg") no-repeat top;
}

body,fieldset,label,a,select,input,td,th {
	font-size: 11px;
	font-family: "Bitstream Vera Sans", Helvetica, sans-serif;
	color: #666;
}

a {
	text-decoration: none;
	color: #44C8F5;
	font-weight: bold;
}

a:hover {
	color: #F7931E;
}

/*imagen encabezado*/
.header {
	float: left;
	padding: 0px;
	margin-right: 0px;
	width: 500px;
	height: 64px;
	background: url('../imgs/dashboard/header.png' ') no-repeat;
}

.menu {
	font-size: 8px;
	color: #adafb2;
	text-decoration: none;
}