/**
 * CSS de las persianas desplegables del componente de direcciones
 * @author: Edgar Orozco, eorozco@bixit.com.mx, edgar.orozco.juarez@gmail.com
 * @version: $Id: direcciones.css,v 1.1 2010/01/19 03:42:05 marcela Exp $
 */
.persiana {
	position: absolute;
	width: 250px;
	background-color: #EEF6FF;
	border: 1px solid #888;
	margin: 0px;
	padding: 0px;
}

.persiana li.selected {
	border: 1px solid #CCCCCC;
	margin: 0px;
	padding: 0px;
	background-color: #EEEEEE;
}

.persiana li {
	margin-left: 10px;
}

.persiana strong.sub_cadena {
	color: #FF0000;
}

.persiana ul {
	font-family: tahoma, verdana, arial, helvetica, sans-serif;
	font-size: xx-small;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	background-color: #EEF6FF;
}

input.direccionBuscando {
	background: url('throbber.gif') no-repeat 100% 2px;
	background-position: 100% -18px;
}

input.direccionNoMatch {
	border: 1px solid #FF0000;
	background: url('noMatch.png') no-repeat 100% 2px;
	background-color: inherit;
}