fieldset{
	margin-bottom:5px;
	background-color:#FFFFFF;
}

/*solo para cuadros de asignacion*/
.fieldsetAsignacion{
	height:auto;
}

legend{
	color: #203360;
	padding: 2px 10px;
	font-size:18px !important; 
	font-weight:bold !important;
}
legend A:link{
        color:#cc007a;
}

label{
	width: 100px;
	float: left;
	font-weight:bold;
	color: #333333;
	
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
}

.labelChk{
	width: 150px;
	float: none !important;
}

input, select, textarea{
	border: 1px solid #bdc7d8; 
	padding: 3px;	
	margin: 3px;
	background-color: #fafafa;
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
	color:black !important;
}
a.botones{
    border: 1px solid #bdc7d8!important;
    background-color: #fafafa;
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    color:black !important;
    padding: 3px 4px 4px 4px;
    display: inline-block;
    font-weight: normal;
    font-size: 12px;
}
/* Cuando un input tiene el atributo "requerido" */
input[requerido="1"], input[type="password"], textarea[requerido="1"], .requiredForm{
	background: url(obligatorio.png) no-repeat 98%;
	background-color: #fafafa;
}

/* Cuando un select tiene el atributo "requerido" */
select[requerido="1"]{
	background-color: #fafafa;
	background: url(obligatorio.png) no-repeat 82% !important;
	
}

/* Cuando un input tiene el atributo fecha y tiene el foco */
input[filtro="fecha"]:focus +span:after {
	content: "(dd-mm-aaaa)";
	font-style: italic;
	font-size: x-small;
}

/* Cuando un input tiene el atributo hora y tiene el foco */
input[filtro="hora"]:focus +span:after {
	content: "(00:00 - 23:59 Hrs)";
	font-style: italic;
	font-size: x-small;
}		

input[disabled]{
	border: thin solid silver;
	background-color:#eaeaea; 
}
select[disabled]{
	border: thin solid silver;
	background-color:#eaeaea; 
}
textarea[disabled]{
	border: thin solid silver;
	background-color:#eaeaea; 
}

.cpar{

	}
.cnon{
		background-color: #efefef;
}
.error_list{
    border: 1px solid #e3a345;
    background: #ffedad url(southstreet/images/ui-bg_highlight-soft_95_ffedad_1x100.png) 50% top repeat-x;
    color: #cd5c0a;
    padding: 3px;
    list-style: none;
}
.acciones-tabla{
    width: 10px;
    text-align: center;
}
