body{
	width:100%;
	margin: 0;
	background: #DDDDDD /* url(imgs/bg.jpg)*/;
}
.content, .header-content{
	width:960px;
	margin: 0 auto;
}
.logo{
    position:relative;
    float:left;
	width:220px;
        height: 42px;
	margin: 15px 0 15px 5px;
        background: transparent url(logo_ria.png);
}


body, fieldset, label, a, select , input, td, th{
	font-size:11px;
	font-family:"Bitstream Vera Sans", Helvetica, sans-serif;
	color: #000;
}

a{
	text-decoration:none;
	color:#222222;
/*	color: #4B7C9A !important ;*/
	font-weight:bold;
}

a:hover {
	color: #777777 !important;
}


.ui-state-default, .ui-widget-content .ui-state-default {
	color: #ffffff !important; }
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { 
	color: #ffffff !important;}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus { 
	color: #ffffff !important;; }
.ui-state-hover a, .ui-state-hover a:hover { 
	color: #ffffff !important; }
.ui-state-active, .ui-widget-content .ui-state-active {	color: #4B7C9A !important; }
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { color: #FFFFFF !important; }



th{
	text-align:left;
}

h3{
 #-moz-border-radius: 5px;
 border-bottom:1px solid #cc007a;
}

.menu{
		
}
.menubar
{
	margin:-30px 5px 20px 0;	
	color:#ffffff;	
}
.menubar A{
       color:#cc007a !important;
} 

.menubar A:hover{
	color:#cc007a !important;
}
.ligalistasocio{
       color:#cc007a !important;
} 
legend A:link{
	color:#cc007a;
}

/*imagen encabezado*/
.header {
	/*float: left;*/
	padding: 0;
	margin: 0;
	width: auto;
	height: 75px;
	background:#000000;
	border-bottom:2px solid #cc007a;
}	
	
	
/*POS total*/
.total{	
 font-size:50px;
 text-align:right;
 font-weight:bold;
}


.mensaje{
 color:#F00;
 font-weight:bold;
}

/*
* FOTOS usuarios
*/
.fotoGrande{
    width:104px;
    height:143px;
}
.fotoChica{
    width:45px;
    height:60px;
}
.container{
	 position:relative;
}
.main {
    position:absolute;
    z-index:0;
 }
.minor {
    position:absolute;
    z-index:1;
}

/*Flashes*/
.flash_ok{
	padding: 5px;
	margin-top: 10px;
}
.flash_notice{
	padding: 5px;
	margin-top: 10px;
}
.flash_error{
	padding: 5px;
	margin-top: 10px;
}

.sombra{-moz-box-shadow: 5px 5px 30px #888;}
.sombra-delgada{-moz-box-shadow: 0px 0px 30px -8px #888;}
.ts{text-shadow: 1px 1px 4px rgba(0,0,0,0.3);}
.tss{text-shadow: 1px 1px 3px rgba(0,0,0,0.6);}
.tsss{text-shadow: 1px 1px 2px rgba(0,0,0,0.3);}
.tssss{text-shadow: 1px 1px 1px rgba(0,0,0,0.2);}

/* fix para los bloques con flotantes que se colapsan */
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
