/**
 * Css del home de cada rol 
 */

.menu-home{
	padding: 20px;
	text-align: center;
}

.boton-home{
 	padding:10px;
 	margin:10px 15px;
 	width: 100px;
 	text-align: center;
 	display: inline-block;
 	float: left;
        background:#DDDDDD /* url(imgs/curso.png) 50% center*/;
 }

 /* fix para los bloques con flotantes que se colapsan */
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
