

        .contenedor_carrito{

                min-height:300px;
        }
        .sumable{
                text-align: right;
        }
        a.editable > form > input{
                text-align: right;
        }
        td > a.editable:focus{
                color:#00aeae;
                border:solid thin #00aeae;
        }

        .centrable{
                text-align: center;
        }
        .total{
                font-size: xx-large;
        }
        #mensaje_cajero, #pago
        {
                font-size: xx-large;
                text-align: right;
                /*float:right;*/

        }
        #mensaje_cajero td
        {
                font-size: xx-large;
                text-align: right;
        }
        #contenedor-general
        {
                min-height: 400px;
        }

        .izq{
                float:left;
                width:79%;
        }
        .der{
                float:right;
                margin-left:10px;
                width:20%;
        }

        .contenedor-usuario{
                min-height: 300px;
                max-height: 450px;
                overflow-x: hidden;
                overflow-y: auto;

        }
        .contenedor-usuario fieldset{
                border: none;
        }
        hr{
                border: none;
                border-top: 1px dashed silver;
        }
        .contenedor-usuario legend{
                font-size: 10px !important;

        }
        .contenedor-usuario img{
    width:71px;
    height:110px;
    vertical-align: top;
        }
        .contenedor-usuario div.container {
    width:74px;
    height:114px;
        }
        .contenedor-usuario fieldset td{
    vertical-align: top;
        }
        .vp-titulo{
         margin-bottom: 5px;
        }
        #lista-cobros
        {
                max-width: 300px;
                max-height: 500px;
                overflow-y: auto;
        }



