.ui-tabs .ui-tabs-panel{ 
		padding: 20px; 
		display: block; 
		border-width: 0; 
		background: none; 
	/*	border: 1px solid #ccc; */
		position: relative; 
		min-height: 200px; 
}

a.mover { 
	background: #53a615; 
	padding: 6px 12px; 
	position: absolute;
	color: white; 
	font-weight: bold; 
	text-decoration: none; 
}
.next-tab { 
	bottom: 0; 
	right: 0; 
	-moz-border-radius-topleft: 10px; 
	-webkit-border-top-left-radius: 10px; 
}
.prev-tab { 
	bottom: 0; 
	left: 0; 
	-moz-border-radius-topright: 10px; 
	-webkit-border-top-right-radius: 10px; 
}
