#tooltip {
	position: absolute;
	z-index: 3000;
	border: 1px solid #fcd113;
	background: #f8da4e;
	color: #915608;
	padding: 5px;
	opacity: 0.9;
	font-size: 10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	width: 300px;
}

#tooltip h3,#tooltip div {
	margin: 5px;
	border-bottom: none;
	text-align: center;
}

#tooltip div {
	text-align: justify;
}

#tooltip.add-tema {
	width: 100px;
}