.pc {
	float: left;
	margin: 10px;
	padding: 10px;
}

.numero-pc {
	align: right;
}

.switch {
	float: left;
	margin: 10px;
	padding: 10px;
}

.encendida {
	background-color: green;
}

.apagada {
	background-color: red;
}
