.numpc {
	width: 20px;
	padding: 2px;
	position: relative;
	top: -10px;
	right: -10px;
	float: right;
}

.inicio {
	position: relative;
	top: -10px;
	left: -10px;
	float: left;
	padding: 2px;
}

.trans {
	position: relative;
	bottom: -10px;
	left: -10px;
	float: left;
	padding: 2px;
}

.resta {
	position: relative;
	bottom: -10px;
	right: -10px;
	float: right;
	padding: 2px;
}

.usuario {
	padding: 2px;
	cursor: pointer;
}
