

/* ========================================Estilo para el body======================================== */
body {
    margin: 0px;
    height: 100%;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:12px;
    background: url(../img/bg.jpg);
    margin-left: 0 px;
    margin-top: 0 px;
}



/* ========================================Estilo para columna======================================== */

td {
    font-family: Arial, Helvetica, sans-serif;
    font-size:14px;
    text-align:justify;
    color: #000000;
    background-color: #ffffff;
}

td2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size:10px;
    /*text-align:justify;*/
    color:#666666;
    /*background-color: #ffffff;*/
}

td3 {
border:dotted;
    }


/* ========================================clases types======================================== */

.borde{
border: thin;
}

.a1Menu{
    font-size: 10px;
    /*/*font-weight: bold;*/*/
    color: #666666;
}

.a2Menu2{
    font-size: 10px;
    /*font-weight: bold;*/
    color: #333333;
}

.a1MenuBlue{
    font-size: 10px;
    /*font-weight: bold;*/
    color: #00CCFF;
}

.a2Menu2Green{
    font-size: 10px;
    /*font-weight: bold;*/
    color: #CEDD33;
}

.b1Titulo {
    font-size: 11px;
    /*font-weight: bold;*/
    color: #ffffff;
}

.b1TituloBlue {
    font-size: 11px;
    /*font-weight: bold;*/
    color: #00CCFF;
}

.b1TituloGreen {
    font-size: 11px;
    /*font-weight: bold;*/
    color: #CEDD33;
}

.b2Titulo2 {
    font-size: 13px;
    /*font-weight: bold;*/
    color: #666666;
}

.b2Titulo2Blue {
    font-size: 13px;
    /*font-weight: bold;*/
    color: #00CCFF;
}

.b2Titulo2Green {
    font-size: 13px;
    /*font-weight: bold;*/
    color: #CEDD33;
}

.b3Titulo3 {
    font-size: 13px;
    /*font-weight: bold;*/
    color: #7a000e;
}

.b3Titulo3Blue {
    font-size: 13px;
    /*font-weight: bold;*/
    color: #00CCFF;
}

.b3Titulo3Green {
    font-size: 13px;
    /*font-weight: bold;*/
    color: #CEDD33;
}

.b4Titulo4 {
    font-size: 15px;
    /*font-weight: bold;*/
    color: #7a000e;
}

.b4Titulo4Blue {
    font-size: 15px;
    /*font-weight: bold;*/
    color: #00CCFF;
}

.b4Titulo4 {
    font-size: 15px;
    /*font-weight: bold;*/
    color: #CEDD33;
}

.c1seccion {
    font-size: 16px;
    /*font-weight: bold;*/
    color: #9c0642;
}

.c1seccionGreen {
    font-size: 16px;
    /*font-weight: bold;*/
    color: #00CCFF;
}

.c1seccionBlue {
    font-size: 16px;
    /*font-weight: bold;*/
    color: #CEDD33;
}

.c1seccionGrey {
    font-size: 18px;
    /*font-weight: bold;*/
    color: #666666;
}

.c2seccionTIT {
    font-size: 20px;
    /*font-weight: bold;*/
    color: #9c0642;
}

.c2seccionTIT_BIG {
    font-size: 30px;
    /*font-weight: bold;*/
    color: #9c0642;
}

.c2seccionTITBlue {
    font-size: 20px;
    /*font-weight: bold;*/
    color: #00CCFF;
}

.c2seccionTITGreen {
    font-size: 20px;
    /*font-weight: bold;*/
    color: #CEDD33;
}

.c2seccionTITGrey {
    font-size: 20px;
    /*font-weight: bold;*/
    color: #666666;
}

.d1Cont {
    font-size: 11px;
    color: #000000;
}

.d1ContBlue {
    font-size: 11px;
    color: #00CCFF;
}

.d1ContGreen {
    font-size: 11px;
    color: #CEDD33;
}

.d2ContTit {
    font-size: 11px;
    /*font-weight: bold;*/
    color: #7a000e;
}

.d2ContTitBlue {
    font-size: 11px;
    /*font-weight: bold;*/
    color: #00CCFF;
}

.d2ContTitGreen {
    font-size: 11px;
    /*font-weight: bold;*/
    color: #CEDD33;
}

.e1Balazo {
    font-size: 11px;
    /*font-weight: bold;*/
    font-style: italic;
    color: #601646;
}

.e1BalazoBlue {
    font-size: 11px;
    /*font-weight: bold;*/
    font-style: italic;
    color: #00CCFF;
}

.e1Balazo {
    font-size: 11px;
    /*font-weight: bold;*/
    font-style: italic;
    color: #CEDD33;
}

.e2Nota{
    font-size: 9px;
    /*font-weight: bold;*/
    font-style: italic;
    color: #666666;
}

.e2NotaBlue{
    font-size: 9px;
    /*font-weight: bold;*/
    font-style: italic;
    color: #00CCFF;
}

.e2NotaGreen{
    font-size: 9px;
    /*font-weight: bold;*/
    font-style: italic;
    color: #CEDD33;
}

.e3Foot{
    font-size: 9px;
    color: #666666;
}

.e3FootBlue{
    font-size: 9px;
    color: #00CCFF;
}

.e3FootGreen{
    font-size: 9px;
    color: #CEDD33;
}


/* ========================================Backgrounds tablas======================================== */

.FondoNegroTabla {
    background-color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    /*font-size:11px;
    text-align:center;*/
    color: #ffffff;
}

.FondoblancoTabla {
    background-color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    /*font-size:11px;
    text-align:center;*/
    color: #666666;
}

.FondoVinoTabla {
    background-color: #7a000e;
    font-family: Arial, Helvetica, sans-serif;
    /*font-size:11px;
    text-align:center;*/
    color: #ffffff;
}

.FondoPurpleTabla {
    background-color: #9c0642;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size:11px;
    font-weight: ;
    color: #ffffff;
}

.FondoPurple2Tabla {
    background-color: #9c0642;
    font-family: Arial, Helvetica, sans-serif;
    font-size:11px;
    /*font-weight: bold;*/
    text-align:center;
    color: #ffffff;
}

.FondoAzulTabla {
    background-color: #66CCFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    /*font-weight: bold;*/
    /*text-align:center;*/
    color: #ffffff;
}

.FondoVerdeTabla {
    background-color: #CEDD33;
    font-family: Arial, Helvetica, sans-serif;
    font-size:11px;
    /*font-weight: bold;*/
    text-align:center;
    color: #ffffff;
}

.FondoGrisTabla1 {
    background-color: #666666;
    font-family: Arial, Helvetica, sans-serif;
    /*font-size:11px;
    text-align:center;*/
    color: #ffffff;
}

.FondoGrisTabla2 {
    background-color: #999999;
    font-family: Arial, Helvetica, sans-serif;
    font-size:11px;
    /*text-align:center;*/
    color: #ffffff;
}

.FondoGrisTabla3 {
    background-color: #CCCCCC;
    font-family: Arial, Helvetica, sans-serif;
    font-size:11px;
    /*text-align:center;*/
    color: #666666;
}

.FondoGrisTabla4 {
    background-color: #ececec;
    font-family: Arial, Helvetica, sans-serif;
    font-size:11px;
    /*text-align:center;*/
    color: #666666;
}


/* ========================================Links one======================================== */

a.z1:link {
    text-decoration:none;
    color: #000000;
}

a.z1:visited {
    text-decoration:none;
    color: #000000;
}

a.z1:hover {
    text-decoration: none;
    /*font-weight: bold;*/
    color: #00CCFF;
}

a.z1:active {
    text-decoration: none;
    /*font-weight: bold;*/
    color: #00CCFF;
}



/* ========================================Links two======================================== */


a.z2:link {
    text-decoration:none;
    /*font-weight: bold;*/
    color: #66ccff;
}

a.z2:visited {
    text-decoration:none;
    /*font-weight: bold;*/
    color: #66ccff;
}

a.z2:hover {
    text-decoration: none;
    /*font-weight: bold;*/
    color: #CEDD33;
}

a.z2:active {
    text-decoration: none;
    /*font-weight: bold;*/
    color: #66ccff;
}



/* ========================================Links three======================================== */


a.z3:link {
    text-decoration:none;
    /*font-weight: bold;*/
    color: #ffffff;
}

a.z3:visited {
    text-decoration:none;
    /*font-weight: bold;*/
    color: #ffffff;
}

a.z3:hover {
    text-decoration: none;
    /*font-weight: bold;*/
    color: #CEDD33;
}

a.z3:active {
    text-decoration: none;
    /*font-weight: bold;*/
    color: #CEDD33;
}


/* ========================================Links four======================================== */


a.z4:link {
    text-decoration:none;
    color: #666666;
}

a.z4:visited {
    text-decoration:none;
    color: #666666;
}

a.z4:hover {
    text-decoration: none;
    color: #66ccff;
}

a.z4:active {
    text-decoration: none;
    color: #66ccff;
}