#change-begin h1 {
	margin-bottom: 40px !important;
}

#change-begin label {
	display: inline-block;
	width: 130px;
	font-weight: bold !important;
}

#change-begin h2,.ok {
	color: #136902;
}

#change-begin p {
	text-align: left;
}

#change-begin table th {
	text-align: center;
	padding: 5px;
}

#change-begin table td {
	background-color: #dae7ef;
	padding: 5px;
}

.error {
	color: #e10000 !important;
}

#datepicker-change-begin {
	margin: 15px 10px;
}

.periodo-grupo {
	background: #feb900 !important;
}

.fecha-no-seleccionada {
	color: #525252 !important;
}

#change-check a {
	display: inline-block;
	padding: 5px 10px;
}

#change-check .button-set {
	bottom: 0;
	right: 2px;
	width: 630px;
	position: absolute;
	padding-top: 10px;
	padding-right: 20px;
	text-align: right;
	border-top: 1px solid #77d5f7;
}

#change-check label {
	width: 80px !important;
}
