#extend-payment h1 {
	margin-bottom: 40px !important;
}

#extend-payment label {
	display: inline-block;
	width: 130px;
	font-weight: bold !important;
}

#extend-payment p {
	text-align: left;
}

.periodo-grupo {
	background: #feb900 !important;
}

.ui-datepicker {
	z-index: 10100 !important;
}
