#centro label {
	width: 60px !important;
}

.fc-calendarizados {
	display: none;
	font-size: 10px;
}

h1,#edit-user,#change-begin,#change-check,#extend-payment {
	text-align: center
}

.edit-user,.change-begin,.extend-payment,.delete-group {
	cursor: pointer;
}

#grupos_wrapper .fg-toolbar {
	display: none;
}

#paginador {
	position: relative;
}

#paginador-loader {
	width: 220px;
	height: 19px;
	background: url("/imgs/ajax-loader.gif");
	position: absolute;
	top: 20px;
	right: 20px;
	display: none;
}

#resumen-paginador {
	font-size: 12px;
	font-weight: normal;
}

#navegacion-paginador {
	padding-bottom: 10px;
}

#navegacion-paginador .fg-button {
	padding: 3px 0 3px 5px !important;
}

#navegacion-paginador .last {
	padding-right: 5px !important;
}

#detail-groups {
	position: relative;
}

#table-loader {
	background: url("/css/start/images/ui-bg_flat_75_aaaaaa_40x100.png");
	opacity: .30;
	filter: Alpha(Opacity = 30);;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99;
}

#grupos_filter p {
	display: inline-block;
	margin: 0 3px;
}

#grupos_filter p label {
	margin: 8px 3px 0 0;
}

#grupos_filter p button {
	border: 1px solid rgb(119, 213, 247);
	background: url("/css/start/images/ui-bg_glass_45_0078ae_1x400.png")
		repeat-x scroll 50% 50% rgb(0, 120, 174);
	color: #fff;
	cursor: pointer;
}
