#wrapper-facilitadores {
	width: 100%;
	margin: 10px 0;
}

h1,h2 {
	text-align: center
}

.cursos-asignados {
	text-align: center;
}

.clear {
	clear: both;
}

.bx-title {
	margin: 0 auto;
}

#ajax-img {
	position: relative;
	left: 48%;
	top: 200px !important;
}

.highlight {
	background: #fe77ce !important;
}
