/* force a height so the tabs don't jump as content height changes */
#tabs-by-group .tabs-spacer {
	float: left;
	height: 200px;
}

.tabs-bottom .ui-tabs-nav {
	clear: left;
	padding: 0 .2em .2em .2em;
}

.tabs-bottom .ui-tabs-nav li {
	top: auto;
	bottom: 0;
	margin: 0 .2em 1px 0;
	border-bottom: auto;
	border-top: 0;
}

.tabs-bottom .ui-tabs-nav li.ui-tabs-active {
	margin-top: -1px;
	padding-top: 1px;
}
