.nombre-reporte {
	text-align: center;
}

form {
	padding: 10px;
}

form label {
	width: 40px !important;
	display: inline-block;
	vertical-align: middle;
	padding-top: 4px;
}

form table {
	width: 100%;
}

form table label {
	float: none;
	display: inline-block;
	width: auto !important;
	padding-top: 0;
}

form table input {
	vertical-align: middle;
}

form table div {
	padding: 6px 0;
}

form legend {
	font-size: 16px !important;
	padding: 10px;
}

.download {
	text-align: center;
	clear: both;
}

#left {
	float: left;
	width: 21%;
	margin-right: 1%;
}

#right {
	float: right;
	width: 78%;
}

#muestra label {
	float: none;
	display: inline-block;
	width: auto !important;
	padding-top: 0;
}

#muestra input {
	vertical-align: middle;
}

#submit-button {
	font-size: 16px;
	padding: 8px 7px;
	cursor: pointer;
	margin: 15px 0;
}

.all {
	text-align: right;
	padding-top: 27px;
}

.ui-datepicker-title select {
	width: auto !important;
}

.indicadores label {
	font-size: 10px;
	font-weight: normal;
}

.indicadores td {
	vertical-align: top;
}

.info {
	display: inline-block;
	vertical-align: middle;
}
