.top {
	float: none;
}

.dataTables_wrapper td.negativo {
	color: red !important;
}

.subrayado {
	border-top: thin solid silver;
}

.subtotal {
	font-size: 140%;
	text-align: right;
}

.derecha {
	text-align: right;
}
