/**
 * Css del home de cada rol 
 */

.menu-home{
	padding: 20px;
	text-align: center;
}

.boton-home{
 	padding:10px;
 	margin-top:10px;
 	margin-bottom:10px;
 	margin-left:18px;
 	margin-right:18px;
 	width: 100px;
 	text-align: center;
 	display: inline-block;
 	float: left;
 }

 /* fix para los bloques con flotantes que se colapsan */
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}