/* ThemeRoller override style sheet for jQuery date picker v3.7.0. */
.hasDatepick > div
{
  width: 100% !important;
}
#ui-datepicker-div,
.ui-datepicker-inline {
	width: 18em;
	font-size: 110%;
          padding: 10px;
          -moz-box-shadow: 0px 0px 30px -8px #888;
}
#ui-datepicker-div {
	z-index: 100;
}
.ui-datepicker-inline {
	float: left;
}
.ui-datepicker-rtl {
	direction: rtl;
}
#ui-datepicker-div a,
.ui-datepicker-inline a {
	text-decoration: none;
}
.ui-datepicker-prompt {
	height: 1.5em;
	padding-top: 0.25em;
	text-align: center;
}
.ui-datepicker-clear {
	float: left;
	margin-left: 0.25em;
}
.ui-datepicker-close {
	float: right;
	margin-right: 0.25em;
}
.ui-datepicker-prev {
	position: static;
	float: left;
	width: 32%;
	height: auto;
	margin-left: 0.25em;
}
.ui-datepicker-next {
	position: static;
	float: right;
	width: 32%;
	height: auto;
	margin-right: 0.25em;
	text-align: right;
}
.ui-datepicker-current {
          margin: 0 auto;
	width: 15px;
	text-align: center;
}
.ui-datepicker-group {
	width: 20em;
}
.ui-datepicker-group .ui-datepicker-header {
	height: 1.5em;
	text-align: center;
          padding: 2px;
}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year,
.ui-datepicker-inline select.ui-datepicker-month,
.ui-datepicker-inline select.ui-datepicker-year {
	width: auto;
	height: 1.66em;
	background-color: transparent;
	border: none;
	font-weight: bold;
}
.ui-datepicker th {
	padding: 0.5em 0.3em;
}
.ui-datepicker td,
.ui-datepicker td a {
	text-align: center;
}
.ui-datepicker-row-break {
	clear: both;
	width: 100%;
	height: 0.25em;
}
.ui-datepicker-status {
	text-align: center;
}
.ui-datepicker-cover {
    display: none;
    display/**/: block;
    position: absolute;
    z-index: -1;
    filter: mask();
    top: -1px;
    left: -1px;
    width: 187px;
    height: 187px;
}