#cont_general {
	position: absolute;
	left: 10px;
	right: 10px;
}

.cg {
	float: left;
	width: 76%;
}

label {
	float: none;
	width: none;
}

.marcar {
	background-color: yellow;
}

.marcarTabla {
	border: thin dashed red !important;
}
