#cont_general {
	position: absolute;
	left: 10px;
	right: 10px;
}

.cg {
	float: left;
	width: 76%;
}

label {
	float: none;
	width: none;
}

/*hay que sobreescribirlo para que salgan los botones en horizontal*/
.TableTools {
	float: right !important;
}

.TableTools_button {
	float: left !important;
}

.cargando {
	width: 20px;
}
