.last {
	text-align: right;
	padding: 40px 10px;
}

#update_form {
	width: 320px;
	height: 550px;
	display: inline-block;
	vertical-align: top;
	margin: 0;
	padding-left: 10px;
}

#update_coordinates {
	width: 660px;
	height: 550px;
	display: inline-block;
	margin: 0;
}

label {
	display: inline-block;
	padding: 5px 0;
}

input,select {
	display: inline-block;
	margin: 0;
}

input[type=text] {
	width: 200px;
}

h2 {
	margin-top: 20px;
	margin-bottom: 50px;
}
