.izq {
    float: left;
    margin-left: 10px;
}

.der {
    float: right;
}

#map_canvas {
    border: thin solid silver;
    width: 530px;
    height: 250px;
}
.radio-buttons ul
{
	border: 0;
	margin: 0;
	padding: 0;
	list-style: none;
}
.radio-buttons ul li
{
	height: 20px;
	width: 120px;
	float: left;
	border: 0;
	margin: 0;
	padding: 0;
}
.radio-buttons ul li label
{
	width: 80px !important;
	margin: 1px 0 0 0;
	padding: 0;
}
.radio-buttons ul input
{
	border: 0;
	margin: 0;
	padding: 0;
	width: 20px;
	float: left;
	display: block;
}
.radio_list{
	height: 18px;
}