/* 
    Document   : admin_vacaciones
    Created on : 02-sep-2010, 19:45:27
    Author     : davidisraelgalindogarcia
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
label {
	width: 70px;
}

table input[type="text"] {
	margin-right: 50px;
}

.ui-datepicker-year,.ui-datepicker-month {
	font-size: 10px !important;
	width: 65px !important;
}

.fc-disable {
	margin: 2px !important;
}

.fc-disable>a {
	padding: 2px 0 !important;
	font-size: 11px;
}

.fc-disable>a:hover {
	cursor: default;
}

.vaciones-actuales {
	border-color: #187bc1 !important;
}

.vaciones-actuales a {
	border-color: #187bc1 !important;
	background: #4baaed url(../fullcalendar/images/blue.png) 50% 50%
		repeat-x;
	color: #002c4b !important;
	font-size: 11px;
	padding: 2px 0 !important;
}

.vaciones-pasadas {
	border-color: #8d3a08 !important;
}

.vaciones-pasadas a {
	border-color: #8d3a08 !important;
	background: #db702f url(../fullcalendar/images/brown.png) 50% 50%
		repeat-x;
	color: #ffffff !important;
	font-size: 11px;
	padding: 2px 0 !important;
}

.periodo-actual {
	border-color: #2a6b19 !important;
}

.periodo-actual a {
	border-color: #2a6b19 !important;
	background: #db702f url(../fullcalendar/images/green.png) 50% 50%
		repeat-x;
	color: #ffffff !important;
	font-size: 11px;
	padding: 2px 0 !important;
}

#periodos-pasados {
	display: none;
}