/*
    Document   : admin_vacaciones
    Created on : 02-sep-2010, 19:45:27
    Author     : David Galindo Garcia
    Description:
        Hoja de estilo para el modulo de calendarizacion
*/
body {
	width: 1300px;
}

.fc-view { /* prevents dragging outside of widget */
	width: 100%;
	overflow: visible !important;
}
/*
 Clases para los paneles que crean nuevos eventos
*/
.panel-select-day {
	top: -312px;
	left: -170%;
}

.panel-select-day-monday {
	top: -300px;
	left: 25%;
}

.panel-select-day-saturday {
	top: -312px;
	right: 25%;
}

.panel-select-day-firts-week {
	bottom: -350px;
	left: -170%;
}

.panel-select-day-firts-week-monday {
	bottom: -370px;
	left: 25%;
}

.panel-select-day-firts-week-saturday {
	bottom: -350px;
	right: 25%;
}

.panel-select-day img {
	bottom: -60px;
	left: 45%;
}

.panel-select-day-monday img {
	bottom: -60px;
	left: 30px;
}

.panel-select-day-firts-week img {
	top: -60px;
	left: 45%;
}

.panel-select-day-firts-week-monday img {
	top: -60px;
	left: 30px;
}

.panel-select-day-firts-week-saturday img {
	top: -60px;
	right: 30px;
}

.panel-select-day-saturday img {
	bottom: -60px;
	right: 30px;
}
/*
 Clases para los paneles que editan eventos
*/
.tpanel-select-day {
	top: -230px;
	left: -85%;
}

.tpanel-select-day-monday {
	top: -230px;
	left: 40%;
}

.tpanel-select-day-saturday {
	top: -230px;
	right: 40%;
}

.tpanel-select-day-firts-week {
	bottom: -300px;
	left: -85%;
	z-index: 114 !important;
}

.tpanel-select-day-firts-week-monday {
	bottom: -300px;
	left: 40%;
	z-index: 114 !important;
}

.tpanel-select-day-firts-week-saturday {
	bottom: -300px;
	right: 40%;
	z-index: 114 !important;
}

.tpanel-select-day img {
	bottom: -60px;
	left: 45%;
}

.tpanel-select-day-monday img {
	bottom: -60px;
	left: 30px;
}

.tpanel-select-day-firts-week img {
	top: -60px;
	left: 45%;
}

.tpanel-select-day-firts-week-monday img {
	top: -60px;
	left: 30px;
}

.tpanel-select-day-firts-week-saturday img {
	top: -60px;
	right: 30px;
}

.tpanel-select-day-saturday img {
	bottom: -60px;
	right: 30px;
}
/*
 Otros estilos
*/
.fc-box-day h4 {
	font-size: 13px;
	font-weight: bold;
	margin: 5px 0 15px 0;
}

#table-form-dias th {
	text-align: left;
}

#table-form-dias th label {
	width: 50px;
}

table input[type="text"] {
	margin-right: 50px;
}

.ui-datepicker-year,.ui-datepicker-month {
	font-size: 10px !important;
	width: 65px !important;
}

.fc-disable {
	margin: 2px !important;
}

.fc-disable>a {
	font-size: 10px !important;
	padding: 20px 0 20px 0 !important;
}

.fc-disable>a:hover {
	cursor: default;
}

.fc-calendarizados {
	border-color: #187bc1 !important;
}

.fc-calendarizados a {
	border-color: #187bc1 !important;
	background: #4baaed url(../fullcalendar/images/blue.png) 50% 50%
		repeat-x;
	color: #002c4b !important;
	font-size: 11px;
	padding: 2px 0 !important;
}

.fc-activos {
	border-color: #8d3a08 !important;
}

.fc-activos a {
	border-color: #8d3a08 !important;
	background: #db702f url(../fullcalendar/images/brown.png) 50% 50%
		repeat-x;
	color: #ffffff !important;
	font-size: 11px;
	padding: 2px 0 !important;
}

.fc-nuevo {
	border-color: #2a6b19 !important;
}

.fc-nuevo a {
	border-color: #2a6b19 !important;
	background: #db702f url(../fullcalendar/images/green.png) 50% 50%
		repeat-x;
	color: #ffffff !important;
	font-size: 11px;
	padding: 2px 0 !important;
}

.fc-box-day {
	width: 700px !important;
	height: 260px !important;
}

.dias-calendarizacion table.detalle th,.dias-calendarizacion table.detalle select
	{
	font-size: 9px !important;
}

.load {
	display: none;
	width: 670px;
	height: 290px;
	background: url(/imgs/ajax-circle.gif) no-repeat 50% 50%;
}

#detalle th {
	text-align: center;
}

.detalle-box div {
	float: left;
	width: 50%;
	padding: 10px 0;
}

.detalle-box div input {
	margin-right: 10px;
}

.detalle-box p {
	padding: 0;
	margin: 0;
	clear: both;
}

.small-text {
	font-size: 10px;
}