/* 
    Document   : control_escolar
    Created on : 02-feb-2010, 17:46:16
    Author     : David
    Description:
        Hoja de estilos principal para control escolar
        coloca dos columnas, color de fondo y bordes
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
/*body {
	width: 1100px;
}*/
body .content{
	width: 1100px;
}

h1 {
	margin: 0;
}

h2 {
	margin-bottom: 30px;
	border-bottom: 1px solid #bdc7d8;
}

h3 {
	margin: 0;
	margin-bottom: 10px;
}

.botones_finales {
	border-top: 1px solid #bdc7d8;
	padding: 10px 0;
	text-align: right;
}

.tabla-opciones {
	padding: 10px;
}

td span.ui-icon:hover {
	cursor: pointer;
}

.menu {
	margin: 0;
}

.display {
	margin: 3px 0;
}

th {
	padding: 5px;
}

td {
	padding: 5px;
}

.fg-toolbar {
	padding: 5px 0;
}

.dataTables_length {
	float: left;
	width: 50%;
	margin-left: 5px;
}

.dataTables_filter {
	text-align: right;
	margin-right: 5px;
}

.dataTables_info {
	text-align: center;
}

.dataTables_paginate {
	margin-top: 5px;
	text-align: center;
}

.fg-button {
	padding: 2px;
}

textarea {
	font-size: 11px;
}