/* 
    Document   : curso
    Created on : 04-feb-2010, 12:30:37
    Author     : David
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
.listaDoble {
	margin: 20px;
	margin-bottom: 5px;
}

.listaDoble select {
	width: 150px;
	margin: 10px;
	margin-bottom: 0;
}

.todos_centros {
	padding-left: 30px;
}

.todos_centros label {
	width: 110px;
}
/*
Se oculta por default el tr del catalogo de cursos
*/
#catalogo_seriacion {
	display: none;
}