/* 
    Document   : cursos_disponibles
    Created on : 07-sep-2010, 18:33:19
    Author     : davidisraelgalindogarcia
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
.datos-usuario {
	width: 30%;
	float: left;
	margin-right: 10px;
}

.cursos-disponibles {
	width: 69%;
	float: left;
}

.preinscritos,.actuales {
	display: none;
}

.radios {
	padding: 0;
}