/* 
    Document   : dias_laborables
    Created on : 22-ago-2010, 11:32:56
    Author     : davidisraelgalindogarcia
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
.fc-view { /* prevents dragging outside of widget */
	width: 100%;
	overflow: visible !important;
}
/*
 Clases para los paneles que crean nuevos eventos
*/
.panel-select-day {
	top: -210px;
	left: -70%;
}

.panel-select-day-monday {
	top: -195px;
	left: 40%;
}

.panel-select-day-saturday {
	top: -210px;
	right: 40%;
}

.panel-select-day-firts-week {
	bottom: -255px;
	left: -70%;
}

.panel-select-day-firts-week-monday {
	bottom: -267px;
	left: 40%;
}

.panel-select-day-firts-week-saturday {
	bottom: -255px;
	right: 40%;
}

.panel-select-day img {
	bottom: -60px;
	left: 45%;
}

.panel-select-day-monday img {
	bottom: -60px;
	left: 30px;
}

.panel-select-day-firts-week img {
	top: -60px;
	left: 45%;
}

.panel-select-day-firts-week-monday img {
	top: -60px;
	left: 30px;
}

.panel-select-day-firts-week-saturday img {
	top: -60px;
	right: 30px;
}

.panel-select-day-saturday img {
	bottom: -60px;
	right: 30px;
}
/*
 Clases para los paneles que editan eventos
*/
.tpanel-select-day {
	top: -230px;
	left: -85%;
}

.tpanel-select-day-monday {
	top: -230px;
	left: 40%;
}

.tpanel-select-day-saturday {
	top: -230px;
	right: 40%;
}

.tpanel-select-day-firts-week {
	bottom: -300px;
	left: -85%;
	z-index: 114 !important;
}

.tpanel-select-day-firts-week-monday {
	bottom: -300px;
	left: 40%;
	z-index: 114 !important;
}

.tpanel-select-day-firts-week-saturday {
	bottom: -300px;
	right: 40%;
	z-index: 114 !important;
}

.tpanel-select-day img {
	bottom: -60px;
	left: 45%;
}

.tpanel-select-day-monday img {
	bottom: -60px;
	left: 30px;
}

.tpanel-select-day-firts-week img {
	top: -60px;
	left: 45%;
}

.tpanel-select-day-firts-week-monday img {
	top: -60px;
	left: 30px;
}

.tpanel-select-day-firts-week-saturday img {
	top: -60px;
	right: 30px;
}

.tpanel-select-day-saturday img {
	bottom: -60px;
	right: 30px;
}
/*
 Otros estilos
*/
.fc-box-day h4 {
	font-size: 13px;
	font-weight: bold;
	margin: 5px 0 15px 0;
}

#table-form-dias th {
	text-align: left;
}

#table-form-dias th label {
	width: 50px;
}