.radio_list {
	list-style: none;
	padding: 0;
	width: 100%;
	background-color: aqua;
}

.radio_list li {
	display: inline-block;
	float: left;
	margin: 5px;
}

.radio_list li label {
	width: 60px;
}

.help {
	display: inline-block;
	vertical-align: middle;
	margin-left: 5px;
	cursor: pointer;
}