@CHARSET "UTF-8";

#detalle {
	width: 66%;
	float: left;
	margin-right: 1%;
}

#busqueda {
	width: 32%;
	float: left;
	padding-top: 27px;
}

#carga-datos,#carga-datos .info,#carga-datos .error,#carga-historial,#carga-historial .info,#carga-historial .error
	{
	display: none;
}

.info h1,.error h1,#reporte h1 {
	padding: 10px;
	text-align: center;
}

.info,.error {
	text-align: center;
}

.retry,.retry-history {
	cursor: pointer;
	font-size: 16px !important;
}

.show-history {
	cursor: pointer;
	font-size: 13px !important;
}

#reporte {
	text-align: center;;
}

.wrapper-socio {
	margin: 15px 0;
}

.fotoGrande {
	width: 104px;
	height: 143px;
}

.fotoChica {
	width: 45px;
	height: 60px;
}

.container {
	position: relative;
	top: 10px;
	left: -40px;
}

.main {
	position: absolute;
	z-index: 0;
}

.minor {
	position: absolute;
	z-index: 1;
}

#detalle-historial {
	margin-top: 20px;
}

.content-historial {
	display: none;
}

#historial div h1 {
	text-align: center;
	padding: 10px 0;
	font-size: 16px !important;
}

#historial div h2 {
	text-align: center;
	padding: 5px 0;
	font-size: 14px !important;;
}

#historial div h3 {
	text-align: center;
	padding: 5px 0;
	font-size: 13px !important;
}

.detalle-lista-historial {
	float: left;
	width: 40%;
	margin-right: 2%;
}

.detalle-historial-grupo {
	float: left;
	width: 58%;
	text-align: left;;
}

.detalle-historial-grupo p {
	text-align: center;
}

.clear {
	clear: both;
}

.download-detail,.download-constancia {
	cursor: pointer;
}

#load-document {
	display: none;
	text-align: center;
}