.lista-categorias li a {
	outline: none;
}

#loading {
	display: none;
	text-align: center;
	position: absolute;
	z-index: 1000;
	top: 170px;
	left: 35%;
	font-weight: bold;
	color: #433f38;
}

.no-cursos {
	margin: 15px 0;
}

.accordion-cursos h3 a,#cursos-tomados h3 a {
	margin-left: 15px;
}

.info {
	height: 220px;
	overflow: auto;
}

.info p span {
	display: inline-block;
	width: 150px;
	font-weight: bold;
}

.tomados {
	height: 100px;
	overflow: auto;
}

.tomados p span {
	display: inline-block;
	width: 150px;
	font-weight: bold;
}

.seriado {
	width: 100% !important;
	margin: 10px 0;
	padding: 5px 0;
	text-align: center;
}

#datos-pre-inscribir {
	display: none;
}

#datos-finales p.fechas {
	width: 35%;
	float: left;
	margin-left: 10%;
}

#datos-finales p span {
	display: inline-block;
	width: 150px;
	font-weight: bold;
}

.botones_finales {
	clear: both;
}