/* 
    Document   : listas
    Created on : 11-ene-2011, 0:55:40
    Author     : David Galindo Garcia
    Description:
        Hoja de estilo para el modulo de listas
*/
.fecha-lista {
	display: inline-block;
}

.fecha-lista span {
	display: inline-block;
	vertical-align: middle;
}

.fecha-lista span label {
	width: 30px;
}

.fecha-lista span select {
	margin-right: 50px;
}

.lista-restricciones {
	color: #cd0a0a;
}