.capitulos {
	text-align: center;
	font-weight: bold;
}

.opciones-modelado {
	margin: 30px 10px;
	text-align: right;
}

.opciones-finalizar {
	width: 95%;
	position: absolute;
	bottom: 0;
	text-align: right;
}

.resultados {
	margin: 10px;
	padding: 5px;
	text-align: left;
	font-weight: normal;
	overflow: auto;
	position: relative;
}

.evaluaciones {
	float: right;
	width: 45%;
}

.evaluacion {
	position: absolute;
	width: 15px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.evaluacion a {
	display: block;
	width: 100%;
	height: 100%;
}

.resultados .caps,.resultados .caps li .tema {
	padding: 5px 15px;
}

.resultados .caps li {
	margin: 5px 0px 0px 0px;
	list-style: none;
}

.resultados .caps a {
	color: #4297d7;
	text-decoration: underline;
}

.resultados .caps a:hover {
	text-decoration: none;
}

.restricciones a {
	display: block;
	padding: 10px;
}

.ui-icon {
	margin-left: 10px;
}

h4 {
	font-size: 12px;
	margin: 5px;
}

#slider-porcent {
	float: right;
	width: 200px;
	margin: 10px 0;
}

.duracion-content {
	display: inline-block;
	padding: 1%;
	width: 78%;
	margin-left: 15px;
	vertical-align: middle;
}