#stuffs {
	width: 600px;
	overflow: hidden;
}

#dia,#calendario-linea,#reloj {
	float: left;
	height: 190px;
}

#dia {
	width: 144px;
	margin-right: 10px;
}

#reloj {
	margin-left: 10px;
	width: 135px;
}

.clear {
	clear: both;
	width: 100% !important;
	margin: 0;
}

#dia div {
	width: 95%;
	margin: 3px auto 10px auto;
	text-align: center;
	padding: 10px 0;
}

#clock {
	margin: 30px auto;
}

#day-name {
	font-size: 14px;
}

#day-number {
	height: 110px;
}

#day-number span {
	display: block;
	margin: 15px;
	font-size: 100px;
	font-weight: bolder;
}

.ui-datepicker-inline {
	border: none !important;
}

#detalle_curso {
	margin: 20px 0;
	width: 494px;
	padding: 10px;
}

.datos-grupo {
	margin: 10px;
	padding: 10px;
}

.datos-grupo a {
	outline: none;
}

.qtip-icon {
	display: inline-block;
	width: 16px;
	height: 16px;
	background-image: url(../southstreet/images/ui-icons_847e71_256x240.png);
}

.qtip-title-text {
	display: inline-block;
	margin: 4px;
	height: 16px;
}

.qtip-info p {
	width: 33%;
	float: left;
}

.qtip-botones input {
	clear: both;
	width: 150px;
}

.right {
	text-align: right;
}

.center {
	text-align: center;
}