#lista_asistencia {
	padding: 10px;
}

.table-mes,.centrado {
	text-align: center;
}

.datos {
	margin: 15px 0;
}

.datos span {
	display: inline-block;
	width: 50px;
	font-weight: bold;
}

.botones_finales {
	margin-top: 0px;
}

.TableTools {
	float: right !important;
	margin-top: 10px !important;
}

.TableTools div {
	float: left !important;
}

#formulario,#detalles {
	margin: 10px;
	padding: 10px;
}

.user {
	margin: 15px 0;
	font-weight: bold;
	font-size: 13px;
}

.group {
	margin: 15px 0;
}

#accordion-anotaciones h3 a {
	margin-left: 15px;
}

.adeudo {
	color: #cd2f0a !important;
}

.acuerdo {
	color: #f1892c !important;
}