@CHARSET "UTF-8";

#tabs-reporte {
	margin: 10px 25px 10px 20px;
}

#dialog-opciones label {
	width: 40px;
	margin-top: 10px;
}

#cahnge-options,.refresh-tab {
	cursor: pointer;
	font-size: 16px;
}

#table-options {
	width: 90%;
	margin: 10px auto;
}

#table-consult {
	width: 99%;
	margin: 10px auto;
}

#table-options th {
	font-size: 18px;
}

#table-consult th {
	font-size: 15px;
	text-align: center;
}

#table-options th input,#table-consult th input {
	font-size: 16px;
	cursor: pointer;
}

#table-options th:last-child,#table-consult th:last-child {
	text-align: right;
}

#lista-curso,#lista-curso h1,#lista-grupo,#lista-grupo h1,.nombre-reporte
	{
	text-align: center;
}

h1.ui-state-error,h1.ui-state-highlight,h1.ui-state-active {
	padding: 10px;
}

.accordion-tables {
	padding: 40px 20px !important;
}

.ui-dialog-titlebar {
	padding: 0px !important;
}

.clear {
	clear: both;
}

#lista-curso,#lista-grupo {
	width: 97%;
	margin: 20px 10px;
}

#detalle-grupos,#lista-inscritos {
	float: left;
	width: 48%;
}

#detalle-grupos {
	margin-right: 20px;
}

#detalle-grupos .ui-widget-content>.ui-widget-header,#lista-inscritos .ui-widget-header
	{
	font-size: 11px;
	text-align: left;
	padding: 5px;
	margin-bottom: 20px;
}

#wrapper-table {
	width: 93%;
	margin: 0 15px 20px 15px;
}

.detalle-grupo,.lista-asistencia {
	margin: 0 15px 20px 15px;
}

.detalle-grupo td {
	text-align: left;
	padding: 3px;
}

.detalle-grupo th {
	padding: 3px;
	width: 100px;
}

#default {
	font-size: 18px !important;
	text-align: center;
	font-weight: bold;
	padding: 50px 0;
}

.content-detalle-grupo {
	display: none;
}

.detail {
	cursor: pointer;
}

#accordion-cursos .detalle-grupo-lista {
	margin: 30px 0;
}

#accordion-cursos .detalle-grupo-lista tr th {
	width: 80px;
}

#accordion-cursos table.detalle-grupo-lista tr td {
	text-align: left;
}

#accordion-cursos .detalle-grupo-lista tr td .dataTables_wrapper td,#accordion-cursos .detalle-grupo-lista tr td .dataTables_wrapper th
	{
	text-align: center;
}

#accordion-cursos .ui-state-error {
	text-align: center;
	padding: 15px;
	font-size: 13px !important;
	margin-bottom: 15px;
}

#reopen-dialog {
	display: none;
	text-align: center;
}

#reopen-dialog input {
	font-size: 16px !important;
	cursor: pointer;
}