.sortables {
	padding: 10px;
	float: left;
	width: 46%;
	margin: .95%;
	height: 800px;
}

.datos-curso {
	padding: 0px 10px;
	font-size: 11px !important;
}

.datos-curso span {
	display: inline-block;
	width: 75px;
}

.alumnos {
	padding: 5px;
	margin: 5px;
	z-index: 1000;
}

.alumnos:hover {
	cursor: pointer;
}

.en-grupo,.ui-state-error,.lista-grupos .ui-state-active {
	padding: 5px;
	margin: 5px;
}

.drop-here,.en-grupo {
	font-size: 10px !important;
}

.undo {
	float: right;
}

#accordion-grupos h3 a {
	margin-left: 15px;
}