/*Ajuste para el plugin de calendario*/
.ui-datepicker-group {
	width: 100%;
	height: 100%;
}

.ui-datepicker-calendar {
	border-collapse: separate !important;
	border-spacing: 2px;
}

.ui-datepicker td {
	-moz-border-radius: 2px;
	padding: 8px;
}

.ui-datepicker td a,.ui-datepicker-unselectable {
	font-size: 17px;
	font-weight: bold;
}

.ui-datepicker th {
	font-size: 15px;
}

.ui-datepicker-header {
	font-size: 15px;
	height: 15px;
	padding-top: 7px !important;
}

.ui-state-highlight a:link {
	color: #82b342 !important;
}

.ui-state-disabled {
	border: 1px solid #acdd4a;
	background: #6eac2c;
	font-weight: normal;
	color: #ffffff;
	outline: none;
}

.ui-datepicker-other-month {
	border: none;
	background: none;
}